/* Main stuff */
.box-with-text {
  margin-top: 300px;
  background-image: -webkit-linear-gradient(crimson 50%, white 50%);
  background-position: 0 0;
  -webkit-background-clip: text;
  background-size: 100% 50px;
  background-repeat: repeat;
  -webkit-animation: stripes 3s linear infinite;
  animation: stripes 3s linear infinite;
  -webkit-text-fill-color: transparent; }

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px; } }
@keyframes stripes {
  100% {
    background-position: 0 -50px; } }
/* Other stuff */
body {
  background: #000;
  color: #fff;
    text-align: center
;
}

.greeting-container {
  width: 100vw;
  height: 100vh;

}
.bear-container {
  padding:0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #F9CB3A;
}

.bear-container svg {
  width: 200px;
}

.box-with-text {
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  font: bold 26vmax/.8 Open Sans, Impact;
  margin-bottom: 100px; }




.celebrate {
  background: #fffcf6;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.celebrate main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
.celebrate h1 {
  color: #f7cfc8;
  font-family: "Luckiest Guy", cursive;
  font-size: 180px;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: -6px -6px #4d84c8, -5px -5px #4d84c8,
  -4px -4px #4d84c8, -3px -3px #4d84c8, -2px -2px #4d84c8,
  -1px -1px #4d84c8, 1px 1px #4d84c8, 2px 2px #4d84c8,
  3px 3px #4d84c8, 4px 4px #4d84c8, 5px 5px #4d84c8,
  6px 6px #4d84c8, 7px 7px #4d84c8, 8px 8px #4d84c8,
  9px 9px #4d84c8, 10px 10px #4d84c8, 11px 11px #4d84c8,
  12px 12px #4d84c8, 13px 13px #4d84c8, 14px 14px #4d84c8,
  15px 15px #4d84c8, 16px 16px #4d84c8, 17px 17px #4d84c8,
  18px 18px #4d84c8, 19px 19px #4d84c8, 20px 20px #4d84c8,
  21px 21px #4d84c8, 22px 22px #4d84c8, 23px 23px #4d84c8,
  24px 24px #4d84c8, 25px 25px #4d84c8, 26px 26px #4d84c8,
  27px 27px #4d84c8, 25px 25px #4d84c8, 28px 28px #4d84c8,
  29px 29px #4d84c8, 30px 30px #4d84c8, 31px 31px #4d84c8,
  32px 32px #4d84c8, 33px 33px #4d84c8, 34px 34px #4d84c8,
  35px 35px #4d84c8, 36px 36px #4d84c8, 37px 37px #4d84c8,
  38px 38px #4d84c8, 39px 39px #4d84c8, 40px 40px;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.disclaimer-container {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fef;
}

.disclaimer {
  --size: 3.5px;
  --color: #00f;

  color: transparent;
  font-size: 300px;
  font-family: Bree Serif;
  background: repeating-linear-gradient(
          -45deg,
          var(--color),
          var(--color) var(--size),
          transparent var(--size),
          transparent calc(var(--size) * 2)
  ),
  repeating-linear-gradient(
          45deg,
          var(--color),
          var(--color) var(--size),
          transparent var(--size),
          transparent calc(var(--size) * 2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  animation: p 1s infinite alternate;
}

.disclaimer-container::before {
  content: "hey!";
  position: absolute;
  color: transparent;
  background: #e45;
  -webkit-background-clip: text;
  z-index: -1;
  animation: p 1s infinite alternate;
}

@keyframes p {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -10px;
    top: -10px;
  }
}



.paper-plane-container {
    background-color: #85b9dd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.paper-plane-container .frame {
    height: auto;
    margin: 15% auto 0;
    position: absolute;
    width: 100%;
}

.paper-plane-container svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.paper-plane-container .plane-container {
    width: 200px;
    margin: 0px auto;
    z-index: 3;
}
/*Paper Plane: Image*/
.paper-plane-container .plane {

    width: 100%;
    height: 60px;
}

/*Paper Plane: Animation*/
.paper-plane-container .plane-container {
    -webkit-animation: paper-plane-scoping 2s alternate infinite;
    -moz-animation: paper-plane-scoping 2s alternate infinite;
    animation: paper-plane-scoping 2s alternate infinite;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px);
    }
}

.paper-plane-container .plane {
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    -webkit-animation: paper-plane-soaring 4s forwards infinite;
    -moz-animation: paper-plane-soaring 4s forwards infinite;
    animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    60% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/**
 * Clouds
 */
.paper-plane-container .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateZ(0);
}

.paper-plane-container .cloud {
    position: absolute;
    top: 20%;
    width: 300px;
    right: 0;
    opacity: 1;
}

.paper-plane-container .cloud.front {
    z-index: 9;
}

.paper-plane-container .cloud.distant {
    z-index: 1;
}

.paper-plane-container .cloud.background {
    z-index: 1;
}

/*Cloud Sizing*/
.paper-plane-container .cloud.smaller {
    margin-right: 400px;
    width: 100px;
    margin-top: 50px;
}

.paper-plane-container .cloud.small {
    margin-right: 200px;
    width: 150px;
}

.paper-plane-container .cloud.big {
    width: 500px;
    margin-top: 50px;
    margin-right: 150px;
}

.paper-plane-container .cloud.massive {
    width: 600px;
    margin-top: 20px;
    margin-right: 0px;
}


/*Cloud: Animation*/
.paper-plane-container .cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;

    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;

    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.paper-plane-container .slow {
    -webkit-animation-duration: 9.2s;
    -moz-animation-duration: 9.2s;
    animation-duration: 9.2s;
}

.paper-plane-container .slower {
    -webkit-animation-duration: 11.2s;
    -moz-animation-duration: 11.2s;
    animation-duration: 11.2s;
}

.paper-plane-container .slowest {
    -webkit-animation-duration: 13.5s;
    -moz-animation-duration: 13.5s;
    animation-duration: 13.5s;
}

.paper-plane-container .super-slow {
    -webkit-animation-duration: 20.5s;
    -moz-animation-duration: 20.5s;
    animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
    0% {
        opacity: 0.1;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
    }
    10% {

        opacity: 0.7;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
}



.castle-container * {
    margin: 0;
    padding: 0;
}

.castle-container {
    background: #e3edf7;
    font-family: sans-serif;
}


.castle-container .container {
    background-color: #3a5c90;
    width: 700px;
    height: 700px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.castle-container .catsle {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.castle-container .base-line {
    width: 100%;
    height: 9px;
    background-color: #aeca1e;
    bottom: 10px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 99;
}

.castle-container .bottom {
    position: absolute;
    left: 10%;
    display: flex;
    bottom: 150px;
    z-index: 3;
}





.castle-container .bottom .wall {
    position: absolute;
    bottom: 0;
}
.castle-container .bottom .wall.one {
    width: 70px;
    background-color: #a79a94;
    height: 100px;
    left: 0;
    bottom: -400px;
    animation: bottom-animation 1s forwards;
    animation-delay: 1s;
}
.castle-container .bottom .wall.two {
    width:70px;
    background-color: #c5bbb9;
    height: 200px;
    left: 70px;
    bottom: -400px;
    animation: bottom-animation 2s forwards;
    animation-delay: 1.5s;

}
.castle-container .two-duplicate {
    left: 324px !important;
}
.bottom .wall.three{
    width:130px;
    background-color: #d4c9c5;
    height: 110px;
    left: 140px;
    bottom: -400px;
    animation: bottom-animation 3.5s forwards;
    animation-delay: 2s;

}
.castle-container .bottom .wall.four {
    width:70px;
    background-color: #c5bbb9;
    height: 200px;
    left: 270px;
    bottom: -400px;
    animation: bottom-animation 2s forwards;
    animation-delay: 3s;


}
.castle-container .bottom .wall.five {
    width: 70px;
    background-color: #a79a94;
    left: 340px;
    height: 100px;
    bottom: -400px;
    animation: bottom-animation 2s forwards;
    animation-delay: 3.5s;

}

.castle-container .bottom .wall.one .after-wall {
    display: flex;
    top: -10px;
    position: absolute;
    justify-items: space-between;
}
.castle-container .bottom .wall.one .after-wall div, .bottom .wall.two .after-wall div, .bottom .wall.four .after-wall div,.bottom .wall.five .after-wall div {
    height: 10px;
    width: 10px;
    background-color: #a79a94;
    margin-right: 10px;
}
.castle-container .bottom .wall.three .after-wall {
    display: flex;
    top: -10px;
    position: absolute;
    justify-items: space-between;
}
.castle-container .bottom .wall.two .after-wall div, .bottom .wall.four .after-wall div {
    background-color: #c5bbb9;
}

.castle-container .bottom .wall.three .after-wall div {
    height: 10px;
    width: 10px;
    background-color: #a79a94;
    margin-right: 10px;
    background-color: #d4c9c5;
}

.castle-container .bottom .wall.one .after-wall,  .bottom .wall.two .after-wall, .bottom .wall.four .after-wall, .bottom .wall.five .after-wall{
    display: flex;
    top: -10px;
    position: absolute;
    justify-items: space-between;
}

.castle-container .window {
    background-color: #947f74;
    height: 20px;
    width: 12px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.castle-container .wall.one .window, .wall.five .window {
    position: absolute;
    top: 38%;
    left: 38%;
}

.castle-container .wall.two .windows, .wall.four .windows {
    position: absolute;
    top: 15%;
    left: 35%;
}

.castle-container .wall.two .windows .window, .wall.four .windows .window {
    margin-bottom: 70px;
}

/***/

.castle-container .wall.two .separator, .wall.four .separator {
    background: #d4c9c5;
    width: 70px;
    height: 12px;
    z-index: 5;
    position: absolute;
    top: 45%;
}

.castle-container .wall.three .windows {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.castle-container .wall.three .gate {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 60%;;
    background: linear-gradient(90deg, #bc6732 0%, #bc6732 50%, #bc6732 50%, #d07d34 100%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow:  inset 5px 5px 5px #a65a18,
    inset 5px -5px 5px #a65a18,
    inset -5px 5px 5px #a65a18,
    inset -5px -5px 5px #a65a18;
}

.middle-layer {
    position: absolute;
    left: 24%;
    display: flex;
    bottom: 150px;
    z-index: 2;
}
.middle-layer .wall {
    position: absolute;
    bottom: 0;
}

.middle-layer .wall.one {
    width: 70px;
    background-color: #a79a94;
    height: 300px;
    bottom: -700px;
    left: 0;
    animation: middle-animation 2.5s forwards;
    animation-delay: 5s;
}
.middle-layer .wall.two {
    width: 100px;
    background-color: #c5bbb9;
    height: 400px;
    left: 70px;
    bottom: -700px;
    animation: middle-animation 2s forwards;
    animation-delay: 5.5s;
}
.middle-layer .wall.three{
    width: 70px;
    background-color: #a79a94;
    height: 300px;
    left: 170px;
    bottom: -700px;
    animation: middle-animation 3s forwards;
    animation-delay: 6s;
}



.middle-layer .wall.one .top, .middle-layer .wall.three .top {
    position: absolute;
    top: -50px;
    left: 0;
}

.middle-layer .wall.one .top .top-most, .middle-layer .wall.three .top .top-most {
    height: 50px;
    width: 70px;
    background: linear-gradient(90deg,  #ef5701 0%,  #ef5701 50%, #fa6810 51%,  #fa6810 100%);
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    position: absolute;
    z-index: 2;

}

.middle-layer .wall.two .top {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 3;
}

.middle-layer .wall.two .top .top-most {
    position: absolute;
    height: 70px;
    width: 100px;
    background: linear-gradient(90deg,  #ef5701 0%,  #ef5701 50%,  #fa6810 51%,  #fa6810 100%);
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    z-index: 3;
    position: absolute;

}

.flag {
    background-color: #b1958a;
    height: 50px;
    width: 3px;
    border-radius: 7px;
    position: absolute;
    top: -40px;
    left: 34px;
    z-index: 1;
    animation: animate-flag 2s infinite;
}

.flag::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: orangered;
    top: 3px;
    right: 2px;
    clip-path: polygon(0% 50%, 100% 0, 100% 100%);
    animation: animate-flag 6s infinite;
}


.middle-layer .wall.two .top .flag {
    left: 48px;
}


.middle-layer .wall.two .balcony {
    background-color: #d4c9c5;
    width: 120px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: -10px;
}

.middle-layer .wall.two .separator1 {
    background: #d4c9c5;
    width: 100px;
    height: 12px;
    z-index: 5;
    position: absolute;
    top: 25%;
}
.middle-layer .wall.two .separator2 {
    background: #d4c9c5;
    width: 100px;
    height: 12px;
    z-index: 5;
    position: absolute;
    top: 45%;
}

.middle-layer .wall.two .balcony .div-container {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
}

.middle-layer .wall.two .balcony .div-container div {
    height: 15px;
    width: 10px;
    margin-top:-10px;
    background-color:#d4c9c5;
}
.first-window-set  {
    position: absolute;
    top: 15%;
    left: 15%;
    width:70%;
    display: flex;
    justify-content: space-between;
}
.second-window-set  {
    position: absolute;
    top: 35%;
    left: 15%;
    width:70%;
    display: flex;
    justify-content: space-between;
}

.third-window-set  {
    position: absolute;
    top: 55%;
    left: 15%;
    width:70%;
    display: flex;
    justify-content: space-between;
}


.first-window-set div, .second-window-set div, .third-window-set div {
    height: 18px;
    width: 12px;
    background-color: #937e73;
}
.middle-layer .wall.one .window {
    top: 10% !important;
}

.middle-layer .window {
    position: absolute;
    top: 10%;
    left: 38%;
}

.mountain {
    position: absolute;
    bottom: -400px;
    z-index: 10;
    left: 30px;
    width: 650px;
    height: 140px;
    background-color: #7c5334;
    clip-path: polygon(40px 0, 600px 0, 100% 100%, 0% 100%);
    animation: animate-mountain 1s forwards;
}

@keyframes animate-mountain {
    100% {
        bottom: 10px;
    }
}

.bridge {
    width: 80px;
    height: 20px;
    border: 4px solid #c5b99f;
    bottom: 145px;
    position: absolute;
    z-index: 15;
    left: 411px;
    box-sizing: border-box;
    background: linear-gradient(90deg, transparent 0, transparent 10%, #c5b99f 10%, #c5b99f 15%, transparent 15%, transparent 25%,#c5b99f 25%, #c5b99f 30%,
    transparent 30%, transparent 40%, #c5b99f 40%, #c5b99f 45%, transparent 45%, transparent 55%, #c5b99f 55%, #c5b99f 60%,
    transparent 60%, transparent 70%, #c5b99f 70%, #c5b99f 75%, transparent 75%, transparent 85%, #c5b99f 85%, #c5b99f 90%,
    transparent 90%, transparent 100%);
    opacity: 0;
    animation: bridge 2s forwards;
    animation-delay: 7s;
}

@keyframes bridge {
    100% {
        opacity: 1;
    }
}

.bridge::before {
    content: "";
    position: absolute;
    bottom: -20px;
    background: #827b5e;
    height: 20px;
    width: 80px;
    left: -4px;
}
.bridge::after {
    content: "";
    position: absolute;
    bottom: -45px;
    border-radius: 50%;
    background: #3a5c90;
    height: 40px;
    width: 80px;
    left: -4px;
}

.valley {
    position: absolute;
    background: #3a5c90;
    bottom: -120px;
    height: 100px;
    width: 80px;
    left: -5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

.stepper {
    position: absolute;
    bottom: 0;
}

.stepper-border {
    border: 3px solid #827b5e;
    background-color: #b2a48b;
    display: flex;
    justify-content: space-around;
    animation: animate-steps 1s forwards;
    animation-delay: 7s;
    opacity: 0;
}

@keyframes animate-steps  {
    100% {
        opacity: 1;
    }
}

.stepper-border div {
    height: 15px;
    width: 5px;
    background-color: #c7bd9b;
    z-index: 5;
    margin-top: -4px;
}
.stepper-border div::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 5px;
    background-color: #f2eaca;
    z-index: 5;
    top: -6px;
    /* margin-top: -3px; */
}


.stepper-1 {
    width: 130px;
    height: 10px;
    position: absolute;
    left: 180px;
    bottom: 8px;
    transform: rotate(-20deg);
    transform-origin: 0 0;
}
.stepper-2 {
    width: 60px;
    height: 10px;
    position: absolute;
    left: 312px;
    bottom: 55px;

}
.stepper-3 {
    width: 130px;
    height: 10px;
    position: absolute;
    left: 180px;
    bottom: 100px;
    transform: rotate(15deg);
    transform-origin: 0 0;
}
.stepper-4 {
    width: 60px;
    height: 10px;
    position: absolute;
    left: 175px;
    bottom: 125px;
    transform: rotate(-25deg);
}
.stepper-5 {
    width: 80px;
    height: 10px;
    position: absolute;
    left: 93px;
    bottom: 107px;
}
@keyframes bottom-animation {
    100% {
        bottom: 0;
    }
}

@keyframes middle-animation {
    100% {
        bottom: 0;
    }
}

@keyframes animate-flag {

    50% {
        transform: rotateY(-45deg);
    }
}



.dog-container {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.dog-container .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dog-container .dog {
    width: 160px;
    height: 186px;
    position: relative;
}
@keyframes head {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.dog-container .dog-head {
    width: 100px;
    height: 90px;
    position: absolute;
    z-index: 5;
    top: 30px;
    left: calc(50% - 50px);
    background-color: #efc092;
    border-radius: 50%;
    animation: head 6s linear infinite;
}
.dog-container .dog-head:before,
.dog-container .dog-head:after {
    content: "";
    width: 79px;
    height: 50px;
    position: absolute;
    z-index: 5;
    top: 44px;
    background-color: #efc092;
    border-radius: 50%;
}
.dog-container .dog-head:before {
    left: -7px;
    transform: rotate(50deg);
}
.dog-container .dog-head:after {
    right: -7px;
    transform: rotate(-49deg);
}
.dog-container .dog-mouth {
    width: 60px;
    height: 35px;
    background-color: #fee2d2;
    position: absolute;
    bottom: -15px;
    left: 20px;
    z-index: 10;
    border-radius: 50%;
}
.dog-container .dog-mouth:after {
    content: "";
    width: 10px;
    height: 40px;
    background-color: #fee2d2;
    position: absolute;
    bottom: 30px;
    left: 24px;
    z-index: 10;
    border-radius: 20px;
}
.dog-container .dog-nose {
    width: 16px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: calc(50% - 8px);
    background-color: #000;
    border-radius: 50%;
}
@keyframes tongue {
    0% {
        height: 10px;
    }
    30% {
        height: 10px;
    }
    40% {
        height: 20px;
    }
    60% {
        height: 10px;
    }
    80% {
        height: 20px;
    }
    90% {
        height: 10px;
    }
    100% {
        height: 10px;
    }
}
.dog-container .dog-tongue {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 24px;
    left: calc(50% - 10px);
    background-color: #f4a4ad;
    border-radius: 0 0 10px 10px;
    animation: tongue 4s linear infinite;
}
.dog-container .dog-eyes {
    width: 10px;
    height: 16px;
    background-color: #000;
    position: absolute;
    top: 52px;
    left: 28px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 33px 0px 0px #000;
}
.dog-container .dog-eyes:after {
    content: "";
    width: 92px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: -24px;
    background-color: #efc092;
    border-radius: 50%;
}
.dog-container .dog-ears {
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 0;
    top: -2px;
    border-radius: 150px 0 150px 0;
    background-color: #efc092;
}
.dog-container .dog-ears:after {
    content: "";
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: 0;
    top: 8px;
    left: 20px;
    border-radius: 150px 0 150px 0;
    transform: rotate(-176deg);
    background-color: #fee2d2;
}
.dog-container .ears-left {
    left: -22px;
    transform: rotate(-105deg);
}
.dog-container .ears-right {
    right: -22px;
    transform: rotate(-22deg);
}
.dog-container .dog-body {
    width: 54px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: calc(50% - 35px);
    background-color: #d58b4e;
    border-radius: 49px 0 0 20px;
}
.dog-container .dog-body:before {
    content: "";
    width: 50px;
    height: 60px;
    position: absolute;
    top: 3px;
    left: calc(50% - 17px);
    background-color: #efbf8e;
    border-radius: 100px 100px 0 0;
}
.dog-container .dog-body:after {
    content: "";
    width: 15px;
    height: 30px;
    position: absolute;
    top: 32px;
    left: 28px;
    background-color: #d58b4e;
    border-radius: 100px 100px 0 0;
}
.dog-container .dog-foot {
    width: 20px;
    height: 13px;
    position: absolute;
    z-index: 5;
    bottom: -3px;
    left: 8px;
    background-color: #fce2d3;
    border-radius: 10px 10px 0 0;
    box-shadow: 33px 0 0 #fce2d3;
}

@keyframes tail {
    0% {
        transform: rotate(-47deg);
    }
    100% {
        transform: rotate(-57deg);
    }
}
.dog-container .dog-tail {
    width: 10px;
    height: 50px;
    position: absolute;
    top: 120px;
    left: calc(50% - 45px);
    background-color: #ecc093;
    transform: rotate(-47deg);
    border-radius: 10px 0 0 0px / 50px 0 0 0px;
    animation: tail .08s infinite alternate;
}
.dog-container .ball {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 50%;
    background-color: #6E64F0;
}



/*
 * POKEBALL
 */

/* animation frame! rotation movement of the pokeball */
@-webkit-keyframes spinning {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    50% {
        transform: rotate(325deg);
        -webkit-transform: rotate(325deg);
    }
    100% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@-webkit-keyframes translating {
    0% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    50% {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

@-webkit-keyframes color-change {
    0%, 20%, 40%, 60%, 100% {
        background-color: #fff;
    }
    10%, 30%, 50%, 70%, 90% {
        background-color: #f00;
    }
}



.pokemon-container {
    background-color: #f5f5f5;
    height: 100vh;
}

#StefTastan {
    width: 715px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

#StefTastan #moving-container {
    width: 10em;
    height: 10em;
    margin: 10px auto 70px;
    position: relative;
    -webkit-animation: translating 5s infinite;
}
/* pokeball container */
#StefTastan #pokeball-container {
    width: 10em;
    height: 10em;
    margin: 20px auto;
    -webkit-animation: spinning 5s infinite;
}

#StefTastan #pokeball {
    width: 10em;
    height: 10em;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

#StefTastan #pokeball::before {
    content: '';
    background-color: red;
    border-radius: 5em 5em 0 0;
    width: 10em;
    height: 5em;
    position: absolute;
}

#StefTastan #pokeball .pokeball-details {
    width: 10em;
    height: 1em;
    background-color: #333;
    position: absolute;
    top: 4.5em;
}


/* the pokemon's button or whatever it is */
#StefTastan #pokeball .pokeball-details::before {
    content: '';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: -1.25em;
    left: 3.25em;
    z-index: 200;
}

#StefTastan #pokeball .pokeball-details::after {
    content: '';
    width: 1.8em;
    height: 1.8em;
    border: 0.3em solid white;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -0.65em;
    left: 3.80em;
    margin: 0 auto;
    z-index: 250;
    -webkit-animation: color-change 3s infinite;
}


/*
 * CHARMANDER
 */

#StefTastan #charmander {
    position: relative;
    width: 10em;
    height: 12em;
    float: left;
}
#StefTastan #charmander #body {
    width: 8em;
    height: 13em;
    background-color: #e88923;
    border-radius: 5em 5em 0 0;
    z-index: 150;
    position: relative;
}

#StefTastan #charmander #feet::before {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #e88923;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 12em;
}

#StefTastan #charmander #feet::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #e88923;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 12em;
    left: 6em;
}

#StefTastan #charmander #eyes::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    position: absolute;
    top: 2em;
    left: 1em;
}

#StefTastan #charmander #eyes::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    position: absolute;
    top: 2em;
    left: 4.5em;
}

#StefTastan #charmander #pupils::before {
    content: '';
    width: 0.75em;
    height: 1.5em;
    background-color: #000;
    border-radius: 0 1em 1em 0;
    position: absolute;
    top: 2em;
    left: 5.25em;
}

#StefTastan #charmander #pupils::after {
    content: '';
    width: 0.75em;
    height: 1.5em;
    background-color: #000;
    border-radius: 0 1em 1em 0;
    position: absolute;
    top: 2em;
    left: 1.75em;
}

#StefTastan #charmander #nostrils::before {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background-color: #000;
    border-radius: 1em;
    position: absolute;
    top: 3em;
    left: 3em;
}

#StefTastan #charmander #nostrils::after {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background-color: #000;
    border-radius: 1em;
    position: absolute;
    top: 3em;
    left: 3.75em;
}

#StefTastan #charmander #mouth::before {
    content: '';
    width: 1.25em;
    height: 0.75em;
    background-color: #942e58;
    border-radius: 0 0 3em 3em;
    position: absolute;
    top: 3.75em;
    left: 2.85em;
}

#StefTastan #charmander #belly {
    content: '';
    width: 5.5em;
    height: 5.5em;
    background-color: #f8e393;
    border-radius: 2em 2em 0 2em;
    position: absolute;
    top: 7.5em;
    left: 0.5em;
    z-index: 10;
}

#StefTastan #charmander #tail::before {
    content: '';
    width: 3em;
    height: 2.75em;
    background-color: #e88923;
    border-radius: 0 0 2em 0;
    position: absolute;
    top: 10em;
    left: 8em;
    z-index: 10;
}

#StefTastan #charmander #tail::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #f5f5f5;
    border-radius: 0 0 50% 0;
    position: absolute;
    top: 9.50em;
    left: 8em;
    z-index: 10;
}

#StefTastan #charmander #tail-tip {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #e88923;
    border-radius: 2em 2em 0 0;
    position: absolute;
    top: 9em;
    left: 9.5em;
    z-index: 30;
}

#StefTastan #charmander #arms::before {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #e88923;
    border-radius: 2em 0 0 2em;
    position: absolute;
    top: 5.75em;
    left: -1.5em;
    z-index: 10;
}

#StefTastan #charmander #arms::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #e88923;
    border-radius: 0 2em 2em 0;
    position: absolute;
    top: 5.75em;
    left: 7.75em;
    z-index: 10;
}

#StefTastan #charmander #flame {
    content: '';
    width: 2.5em;
    height: 2.5em;
    overflow: hidden;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-transform:rotate(-45deg);
    background-color: #FFB800;
    position: absolute;
    top: 8em;
    left: 9em;
    z-index: 300;

}

/*
 * BULBASAUR
 */

#StefTastan #bulbasaur {
    position: relative;
    float: left;
    left: 3em;
    width: 10em;
    height: 12em;
    top: 1em;
}
#StefTastan #bulbasaur #body {
    content: '';
    width: 12em;
    height: 7em;
    top: 5em;
    left: 2em;
    background-color: #89e1bc;
    border-radius: 0 8em 8em 8em;
    z-index: 150;
    position: absolute;
}

#StefTastan #bulbasaur #head {
    width: 9em;
    height: 7em;
    left: 1em;
    top: 1em;
    background-color: #89e1bc;
    border-radius: 1em 0 0 1em;
    z-index: 200;
    position: absolute;
}

#StefTastan #bulbasaur #eyes::before, #StefTastan #squirtle #eyes::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    position: absolute;
    top: 2em;
    left: 1em;
}

#StefTastan #bulbasaur #eyes::after, #StefTastan #squirtle #eyes::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    position: absolute;
    top: 2em;
    left: 4.5em;
}

#StefTastan #bulbasaur #pupils::before, #StefTastan #squirtle #pupils::before {
    content: '';
    width: 0.75em;
    height: 1.5em;
    background-color: #000;
    border-radius: 0 1em 1em 0;
    position: absolute;
    top: 2em;
    left: 5.25em;
}

#StefTastan #bulbasaur #pupils::after, #StefTastan #squirtle #pupils::after {
    content: '';
    width: 0.75em;
    height: 1.5em;
    background-color: #000;
    border-radius: 0 1em 1em 0;
    position: absolute;
    top: 2em;
    left: 1.75em;
}

#StefTastan #bulbasaur #nostrils::before, #StefTastan #squirtle #nostrils::before {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background-color: #000;
    border-radius: 1em;
    position: absolute;
    top: 3em;
    left: 3em;
}

#StefTastan #bulbasaur #nostrils::after, #StefTastan #squirtle #nostrils::after {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background-color: #000;
    border-radius: 1em;
    position: absolute;
    top: 3em;
    left: 3.75em;
}

#StefTastan #bulbasaur .mouth, #StefTastan #squirtle #mouth {
    content: '';
    width: 1.25em;
    height: 0.75em;
    background-color: #942e58;
    border-radius: 0 0 3em 3em;
    position: absolute;
    top: 3.75em;
    left: 2.85em;
}

#StefTastan #bulbasaur #front-feet::before {
    content: '';
    width: 2em;
    height: 5em;
    background-color: #89e1bc;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 8em;
    left: 2em;
}

#StefTastan #bulbasaur #front-feet::after {
    content: '';
    width: 2em;
    height: 5em;
    background-color: #89e1bc;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 8em;
    left: 5em;
}

#StefTastan #bulbasaur #back-feet::before {
    content: '';
    width: 2em;
    height: 5em;
    background-color: #89e1bc;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 8em;
    left: 12em;
}

#StefTastan #bulbasaur #back-feet::after {
    content: '';
    width: 2em;
    height: 5em;
    background-color: #89e1bc;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 8em;
    left: 9em;
}

#StefTastan #bulbasaur #bulb::before {
    content: '';
    width: 11em;
    height: 11em;
    overflow: hidden;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-transform:rotate(-45deg);
    background-color: #6aac34;
    position: absolute;
    top: -1em;
    left: 5em;
}

#StefTastan #bulbasaur #bulb::after {
    content: '';
    background-color: #6aac34;
    border-radius: 0 0 3em 2em;
    position: absolute;
    top: 1em;
    left: 5em;
}


#StefTastan #bulbasaur .ears::before {
    content: '';
    width: 1em;
    height: 4em;
    left: 2em;
    top: 1em;
    background-color: #89e1bc;
    border-radius: 4em 4em 0 4em;
    z-index: 150;
    position: absolute;
    top: 0.25em;
    left: 2em;
}

#StefTastan #bulbasaur .ears::after {
    content: '';
    width: 1em;
    height: 4em;
    background-color: #89e1bc;
    border-radius: 4em 4em 0 4em;
    z-index: 150;
    position: absolute;
    top: 0.25em;
    left: 9em;
}

#StefTastan #bulbasaur .spots {
    content: '';
    background-color: #006359;
    border-radius: 1em;
    z-index: 500;
    position: absolute;
}

.spot1 {
    width: 1.5em;
    height: 1.5em;
    top: 1.25em;
    left: 8em;
}

.spot2 {
    width: 1em;
    height: 1em;
    top: 2.25em;
    left: 9.75em;
}

.spot3 {
    width: 1em;
    height: 1em;
    top: 3em;
    left: 8.60em;
}

/*
 * SQUIRTLE
 */

#StefTastan #squirtle {
    position: relative;
    float: left;
    left: 13em;
    width: 10em;
    height: 12em;
    top: 0;
}

#StefTastan #squirtle #body {
    width: 8em;
    height: 13em;
    background-color: #ffe69c;
    border-radius: 5em 5em 2em 4em;
    z-index: 150;
    position: relative;
}

#StefTastan #squirtle #head {
    content: '';
    width: 8em;
    height: 8em;
    background-color: #94d5cd;
    border-radius: 4em;
    position: absolute;
    top: 0em;
    z-index: 300;
}

#StefTastan #squirtle #feet::before {
    content: '';
    width: 2em;
    height: 3em;
    background-color: #94d5cd;
    border-radius: 1em;
    position: absolute;
    top: 11em;
    left: 1em;
    z-index: 500;
}

#StefTastan #squirtle #feet::after {
    content: '';
    width: 2em;
    height: 3em;
    background-color: #94d5cd;
    border-radius: 1em;
    position: absolute;
    top: 11em;
    left: 5em;
    z-index: 400;
}

#StefTastan #squirtle #arms::before {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #94d5cd;
    border-radius: 2em 0 0 2em;
    position: absolute;
    top: 5.75em;
    left: -1.5em;
    z-index: 10;
}

#StefTastan #squirtle #arms::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #94d5cd;
    border-radius: 0 2em 2em 0;
    position: absolute;
    top: 5.75em;
    left: 7.75em;
    z-index: 50;
}

#StefTastan #squirtle #shell::before {
    content: '';
    width: 3em;
    height: 10em;
    background-color: #DDDBDB;
    border-radius: 0 2em 2em 0;
    position: absolute;
    top: 2.75em;
    left: 6em;
    z-index: 10;
}

#StefTastan #squirtle #shell::after {
    content: '';
    width: 3em;
    height: 8.5em;
    background-color: #bd6a00;
    border-radius: 0 3em 3em 0;
    position: absolute;
    top: 3.5em;
    left: 8em;
    z-index: 5;
}

#StefTastan #squirtle #tail::before {
    content: '';
    width: 3em;
    height: 6.5em;
    background-color: #94d5cd;
    border-radius: 0 3em 3em 0;
    position: absolute;
    top: 4.5em;
    left: 9.5em;
    z-index: 4;
}

#StefTastan #squirtle #tail::after {
    content: '';
    width: 5em;
    height: 5em;
    background-color: #94d5cd;
    border-radius: 3em;
    position: absolute;
    top: 2em;
    left: 9em;
    z-index: 4;
}


.star-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2A003F;
    position: relative;
}

.star-container > div {
    position: relative;
}
.star-container .stars {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #FAE62D;
    position: absolute;
    top: -300px;
    left: -200px;
    box-shadow:
            330px 25px 0 2px #FAE62D,
            100px 50px 0 1px #3BEEED,
            -75px 100px 0 1px #FAE62D,
            450px 120px #FAE62D,
            340px 140px #FAE62D,
            -40px 240px 0 2px #FAE62D,
            430px 260px 0 1px #FAE62D,
            -110px 370px #FAE62D,
            400px 400px 0 1px #FAE62D,
            480px 440px #3BEEED,
            -10px 450px #FAE62D,
            100px 500px 0 2px #FAE62D,
            320px 520px 0 1px #FAE62D,
            -50px 530px #FAE62D;
}
.star-container .sun {
    position: absolute;
    top: -125px;
    left: -125px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #FAE62D;
    box-shadow: inset -30px -30px #FCC000;
}
.star-container .sun:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FCC000;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    box-shadow:
            0 0 0 40px rgba(252, 192, 0, 0.1),
            0 0 0 75px rgba(252, 192, 0, 0.1),
            0 0 0 110px rgba(252, 192, 0, 0.1),
            0 0 0 145px rgba(252, 192, 0, 0.1);
    position: absolute;
}
.star-container .face {
    position: absolute;
    top: 110px;
    left: 70px;
    animation: myface 10s linear infinite;
}
.star-container .eyes {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #2A003F;
    position: absolute;
    box-shadow: 80px 0 #2A003F;
    animation: eyes 7s linear infinite 2s;
}
.star-container .mouth {
    height: 30px;
    width: 38px;
    border-radius: 50%;
    border: 10px solid;
    border-color: transparent transparent #2A003F;
    position: absolute;
    top: 0;
    left: 20px;
}
.star-container .mouth:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2A003F;
    bottom: -4px;
    left: -3px;
    box-shadow: 34px 0 #2A003F;
}
.star-container .arm {
    width: 15px;
    height: 80px;
    border-radius: 10px;
    background-color: #2A003F;
    position: absolute;
    left: -125px;
    transform-origin: top;
}
.star-container .arm > div {
    width: 15px;
    height: 50px;
    border-radius: 10px;
    background-color: #2A003F;
    position: absolute;
    transform-origin: top;
    bottom: -40px;
}
.star-container .arm > div > div {
    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #2A003F;
    position: absolute;
    transform-origin: top;
    bottom: -20px;
}
.star-container .arm.left {
    animation: leftArm 10s linear infinite;
}
.star-container .arm.right {
    left: initial;
    right: -125px;
    animation: rightArm 10s linear infinite, arm 0.6s alternate linear infinite;
    transform: rotate(-140deg);
}
.star-container .arm.right > div {
    transform: rotate(-30deg);
    left: -2px;
    animation: forearm 0.6s alternate linear infinite;
}
.star-container .arm.right > div > div {
    transform: rotate(-20deg);
    animation: hand 0.6s alternate linear infinite;
}

@keyframes eyes {
    2% {
        height: 4px;
        top: 8px;
    }
    4% {
        height: 20px;
        top: 0;
    }
}
@keyframes myface {
    10% {left: 10px;}
    20% {left: 10px;}
    40% {left: 150px;}
    50% {left: 150px;}
    60% {left: 70px;}
}
@keyframes leftArm {
    10% {left: -100px;}
    20% {left: -100px;}
    30% {
        z-index: 0;
        left: -125px;
    }
    35% {z-index: 1;}
    40% {left: -110px;}
    50% {left: -110px;}
    60% {left: -125px;}
    80% {z-index: 0;}
}

@keyframes rightArm {
    5% {z-index: 1}
    10% {right: -100px;}
    20% {right: -100px;}
    30% {right: -125px;}
    40% {right: -110px;}
    50% {right: -110px;}
    55% {z-index: 0;}
    60% {right: -125px;}
}
@keyframes arm {
    to {transform: rotate(-120deg);}
}
@keyframes forearm {
    to {
        transform: rotate(0deg);
        left: 0;
    }
}
@keyframes hand {
    to {
        transform: rotate(0deg);
    }
}


.cake-container {
    height: 100vh;
    background-color: #ee9ca7;
    position: relative;
}


#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 380px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}
.velas:after {
    top: 25%;
    left: 0;
}
.velas:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
*/
.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}
.fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
    0%, 100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }
    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style:italic;
    text-align: center;

}

h1 {
    font-size: 1.4em;
}



